a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

.header {
    background-color: gray;
    border: 10px;
    border-color: black;
    border-radius: 5px;
    color: white;
    margin: 4px 2px;
    padding: 2px;
    text-align: left;
}

.text {
    margin: 4px;
    padding: 5px;
    border-right: 1px solid black;
}