a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    background-color: darkslategray;
    color: white;
    padding: 2px;
}

.header {
    background-color: gray;
    border: 10px;
    border-color: black;
    border-radius: 5px;
    color: white;
    margin: 4px 2px;
    padding: 2px;
}

.header-left {
    text-align: left;
}

.header-right {
    text-align: right;
}

.links {
    padding: 5px;
}